---
import logo from "../assets/MLP logo.svg";
---

<section id="about">
  <img src={logo.src} />
  <div class="text">
    <p class="heading">About</p>
    <p class="inner">
      Dean has 30 years experience in the electrical industry. 
      <br>
      Starting as an apprentice and then becoming foreman on residential tower construction for almost a decade, he then moved into contracting with a like minded business partner.
      <br>
      In 2014 Modern Light & Power was established and is his private company. All advice is given free and in good faith. All jobs are treated equally. Larger jobs are more profitable, yet smaller jobs are an important service to the client and develop good working relationships and referrals. 
    </p>
  </div>
</section>

<style>
  #about {
    background: #0a3351;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
    justify-content: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    max-width: 30rem;
    width: 40%;
    position: relative;
  }

  @media only screen and (max-width: 750px) {
    #about {
      flex-wrap: wrap;
    }
    .text {
      width: 100%;
    }
  }

  .heading {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 3rem;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    margin: 0%;
  }

  .inner {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    text-wrap: wrap;
  }

  img {
    width: 23.875rem;
    height: 21.875rem;
    margin-top: -2rem;
  }
</style>
