---

---

<section id="contact">
  <h1 class="title">Contact</h1>
  <p>modernlightpower@gmail.com</p>
  <p>03 97004077</p>
</section>

<style>
  #contact {
    background: #1e1e1e;
    padding: 0rem 4rem 8rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }

  .title {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 3rem;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    margin-bottom: 1rem;
  }

  #contact p {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
</style>
