---

---

<section id="contact">
  <h1 class="title">Contact</h1>
  <p>
    &#128386 &nbsp; <a href="mailto:modernlightpower@gmail.com"
      >modernlightpower@gmail.com</a
    >&nbsp;
  </p>
  <p>
    &#128379 &nbsp; &nbsp; &nbsp;<a href="tel:+0397004077">03 97004077</a>&nbsp;
  </p>
</section>

<style>
  #contact {
    background: #1e1e1e;
    padding: 0rem 4rem 8rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }

  .title {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 3rem;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    margin-bottom: 1rem;
  }

  #contact p {
    color: #ffffff;
    text-align: left;
    font-family: "Oxanium", sans-serif;
    font-size: 1.5rem;
    line-height: 140%;
    font-weight: 400;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }

  #contact a {
    color: #ffffff;
    text-decoration: underline;
  }

  @media only screen and (max-width: 392px) {
    #contact p {
      margin-left: -3rem;
      font-size: 1.2rem;
    }
  }
</style>
