---

---

<section id="header">
  <div class="block">
    <img class="mlp-logo" src="logosmall.svg" />
  </div>
  <nav class="nav-links">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#gallery">Gallery</a>
    <a href="#contact">Contact</a>
  </nav>
</section>

<style>
  #header {
    display: flex;
    background: #0a3351;
    border-style: solid;
    border-color: var(--var-sds-color-border-default-default, #444444);
    border-width: 0px 0px 2px 0px;
    padding: 32px
    
  }
  .block {
  }
  .mlp-logo {
  }
  .nav-links {
  }

  .nav-links a {
  }
</style>
