---
import logo from "../assets/small logo.svg";
---

<section id="header">
  <div class="block">
    <img class="mlp-logo" src={logo.src} />
  </div>
  <nav class="nav-links">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#gallery">Gallery</a>
    <a href="#contact">Contact</a>
  </nav>
</section>

<style>
  #header {
    background: #0a3351;
    border-style: solid;
    border-color: #444444;
    border-width: 0rem 0rem 0.1rem 0rem;
    padding: 0.3rem 2rem 0.3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .block {
  }

  .mlp-logo {
    height: 5.2rem;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
  }

  .nav-links a {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 1rem;
    line-height: 100%;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
</style>
