---

---

<section id="header">
  <div class="block">
    <img class="mlp-logo" src="logosmall.svg" />
  </div>
  <nav class="nav-links">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#gallery">Gallery</a>
    <a href="#contact">Contact</a>
  </nav>
</section>

<style>
  #header {
    background: #0a3351;
    border-style: solid;
    border-color: var(--var-sds-color-border-default-default, #444444);
    border-width: 0rem 0rem 0.1rem 0rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .block {
  }

  .mlp-logo {
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    gap: var(--var-sds-size-space-200, 1.5rem);
    padding-right: 3rem;
  }

  .nav-links a {
    color: var(--var-sds-color-text-default-default, #ffffff);
    text-align: left;
    font-family: var(
      --single-line-body-base-font-family,
      "Inter-Regular",
      sans-serif
    );
    font-size: var(--single-line-body-base-font-size, 1rem);
    line-height: var(--single-line-body-base-line-height, 100%);
    font-weight: var(--single-line-body-base-font-weight, 400);
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
</style>
