---

---

<section id="title">
  <div class="ext-content-title">
    <h1 class="title">Modern Light and Power</h1>
    <h2 class="subtitle">All electrical work for home & business</h2>
  </div>
</section>

<style>
  #title {
    display: flex;
  }
</style>
